<!DOCTYPE HTML>

<html>

<head>
	<title>Embedded Application Project 2017-2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body id="top">

	<section id="banner" style="padding: 2em 1em 2em 2em;">
		<div class="inner">
			<header>
				<h1> *TRY NOT TO* ANGRY</h1>
				<a href="/challenge"><h2> ☞  챌린지 메뉴로 가기 </h2></a>
			</header>
		</div>
	</section>

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Boxes -->
			<div class="thumbnails">

                <div class="box">
					<a href="/angry1" class="image fit"><img src="http://img.youtube.com/vi/Lb8J95k4qXM/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>ANGRY!</strong></h2>
                            <p> 해외에서 난리난 인내심 테스트 </p>
                        </div>
                    </a>
				</div>
				<div class="box">
					<a href="/angry2" class="image fit"><img src="http://img.youtube.com/vi/XrJSwKCS5GE/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>ANGRY!</strong></h2>
                            <p> 소름끼치도록 싫은 손톱으로 긁는 소리 참기 </p>

                        </div>
                    </a>
				</div>
                <div class="box">
					<a href="/angry3" class="image fit"><img src="http://img.youtube.com/vi/43ML1w59mWI/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>ANGRY!</strong></h2>
                            <p> 보면 짜증나는 환공포증 테스트 </p>

                        </div>
                    </a>
                </div>
                <div class="box">
					<a href="/angry4" class="image fit"><img src="http://img.youtube.com/vi/rOii9Qkm6Xs/0.jpg" alt="" />
                        <div class="inner">
							<h2>TRY NOT TO</br><strong>ANGRY!</strong></h2>
                            <p> 한국인이 싫어하는 소리 TOP 10 </p>
                        </div>
                    </a>
				</div>

			</div>

		</div>
	</div>


	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/skel.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>