<!DOCTYPE HTML>

<html>

<head>
	<title># SHOW ME THE REACTION #</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body id="top">

	<section id="banner" style="padding: 2em 1em 2em 2em;">
		<div class="inner">
			<header>
				<h1># SHOW ME THE REACTION #</h1>
				<h2> Embedded Application Project 2017-2</br> 2014136070 SONG JAE YUN </h2>
				<!--<h2><a href="#" background-color="#70c7be">Login</a></h2>-->
			</header>
		</div>
	</section>

	<!-- Main -->
	<div id="main">
		<div class="inner" style="vertical-align: middle;">

			<!-- Boxes -->
			<div class="thumbnails" style="vertical-align: middle;">

				<div class="box" style="vertical-align: middle;">
					<a href="/reaction" class="image fit"><img src="static/images/pic01.jpg" alt="" />
									<div class="inner">
										<h2>SHOW YOUR REACTION</h2>
										<p>영상을 보면서 당신의 감정이 </br> 어떠했는지 감상 후 </br> 확인해보세요!</p>
									</div>
								</a>
				</div>

				<div class="box">
					<a href="/challenge" class="image fit"><img src="static/images/pic06.jpg" alt="" />
								<div class="inner">
									<h2>TRY NOT TO CHALLENGE!</h2>
									<p>웃음 참기! 울음 참기!</br>놀라지 말기! 짜증내지 말기!</br></p>

								</div>
								</a>
				</div>

			</div>

		</div>
	</div>


	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/skel.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

	<!-- </body>

</html> -->