<!DOCTYPE HTML>

<html>

<head>
	<title>Embedded Application Project 2017-2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body id="top">

	<section id="banner" style="padding: 2em 1em 2em 2em;">
		<div class="inner">
			<header>
				<h1> *TRY NOT TO* JOY</h1>
				<a href="/challenge"><h2> ☞  챌린지 메뉴로 가기 </h2></a>
			</header>
		</div>
	</section>

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Boxes -->
			<div class="thumbnails">

                <div class="box">
					<a href="/joy1" class="image fit"><img src="http://img.youtube.com/vi/XZsSKr24reY/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>JOY!</strong></h2>
                            <p> 흥겹게 만드는 영상 </p>
                        </div>
                    </a>
				</div>
				<div class="box">
					<a href="/joy2" class="image fit"><img src="http://img.youtube.com/vi/zRgG-GNkUEk/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>JOY!</strong></h2>
                            <p> 재미있는 더빙 영상 </p>

                        </div>
                    </a>
				</div>
                <div class="box">
					<a href="/joy3" class="image fit"><img src="http://img.youtube.com/vi/vQiVMvNRC-8/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>JOY!</strong></h2>
                            <p> 웃음짓게 만드는</br> 귀여운 고양이 영상 </p>

                        </div>
                    </a>
                </div>
                <div class="box">
					<a href="/joy4" class="image fit"><img src="http://img.youtube.com/vi/pLFwCSt4sxU/0.jpg" alt="" />
                        <div class="inner">
							<h2>TRY NOT TO</br><strong>JOY!</strong></h2>
                            <p> 웃음짓게 만드는</br> 귀여운 아이 영상 </p>
                        </div>
                    </a>
				</div>

			</div>

		</div>
	</div>


	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/skel.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>