<!DOCTYPE HTML>

<html>

<head>
	<title>Embedded Application Project 2017-2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body id="top">

	<section id="banner" style="padding: 2em 1em 2em 2em;">
		<div class="inner">
			<header>
				<h1> SHOW YOUR REACTION </h1>
				<a href="/"><h2> ☞ 메인으로 가기 </h2></a>
			</header>
		</div>
	</section>

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Boxes -->
			<div class="thumbnails">

                <div class="box">
					<a href="/reaction1" class="image fit"><img src="http://img.youtube.com/vi/rRzxEiBLQCA/0.jpg" alt="" />
                        <div class="inner">
							<h2> TWICE (트와이스) </h2>
                            <p> <strong>"Heart Shaker" M/V</strong> </p>
                        </div>
                    </a>
				</div>
				<div class="box">
					<a href="/reaction2" class="image fit"><img src="http://img.youtube.com/vi/BVwAVbKYYeM/0.jpg" alt="" />
                        <div class="inner">
                            <h2> BTS (방탄소년단) </h2>
                            <p> <strong>DOPE(쩔어) M/V</strong> </p>

                        </div>
                    </a>
				</div>
                <div class="box">
					<a href="/reaction3" class="image fit"><img src="http://img.youtube.com/vi/_odvYvbW9VM/0.jpg" alt="" />
                        <div class="inner">
                            <h2> JOLLY </h2>
                            <p> 시카고까지 가서 먹어본</br><strong>원조 시카고피자 맛은!?</strong> </p>

                        </div>
                    </a>
                </div>
                <div class="box">
					<a href="/reaction4" class="image fit"><img src="http://img.youtube.com/vi/rrWlgsIXAnc/0.jpg" alt="" />
                        <div class="inner">
							<h2> 영국남자 </h2>
                            <p> 이상한 음식 먹방 도전</br><strong>벌레,악어,낙타,캥거루!!</strong> </p>
                        </div>
                    </a>
				</div>

			</div>

		</div>
	</div>


	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/skel.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>