<!DOCTYPE HTML>

<html>

<head>
	<title>Embedded Application Project 2017-2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body id="top">

	<section id="banner" style="padding: 2em 1em 2em 2em;">
		<div class="inner">
			<header>
				<h1> *TRY NOT TO* SORROW</h1>
				<a href="/challenge"><h2> ☞  챌린지 메뉴로 가기 </h2></a>
			</header>
		</div>
	</section>

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Boxes -->
			<div class="thumbnails">

                <div class="box">
					<a href="/sorrow1" class="image fit"><img src="http://img.youtube.com/vi/O_yVo3YOfqQ/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>SORROW!</strong></h2>
							<p> The Saddest Story 3D Animation </br> Changing Batteries </p>
                        </div>
                    </a>
				</div>
				<div class="box">
					<a href="/sorrow2" class="image fit"><img src="http://img.youtube.com/vi/V6-0kYhqoRo/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>SORROW!</strong></h2>
                            <p> EDEKA Weihnachtsclip 광고 영상 </p>

                        </div>
                    </a>
				</div>
                <div class="box">
					<a href="/sorrow3" class="image fit"><img src="http://img.youtube.com/vi/Ai_gDgopod0/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>SORROW!</strong></h2>
                            <p> 김진호 - 가족사진MV </p>

                        </div>
                    </a>
                </div>
                <div class="box">
					<a href="/sorrow4" class="image fit"><img src="http://img.youtube.com/vi/9-VkbFe2U3U/0.jpg" alt="" />
                        <div class="inner">
							<h2>TRY NOT TO</br><strong>SORROW!</strong></h2>
							<p> KB금융그룹_기업PR</br>"하늘같은 든든함, 아버지(몰래카메라)" 편 </p>
                        </div>
                    </a>
				</div>

			</div>

		</div>
	</div>


	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/skel.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>