<!DOCTYPE HTML>

<html>

<head>
	<title>Embedded Application Project 2017-2</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="static/css/main.css" />
</head>

<body id="top">

	<section id="banner" style="padding: 2em 1em 2em 2em;">
		<div class="inner">
			<header>
				<h1> *TRY NOT TO* CHALLENGE</h1>
				<a href="/challenge"><h2> ☞  챌린지 메뉴로 가기 </h2></a>
			</header>
		</div>
	</section>

	<!-- Main -->
	<div id="main">
		<div class="inner">

			<!-- Boxes -->
			<div class="thumbnails">

                <div class="box">
					<a href="/surprise1" class="image fit"><img src="http://img.youtube.com/vi/-zraP3ZFIkI/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>SURPRISE!</strong></h2>
                            <p> 깜짝 놀라게는 동영상 </p>
                        </div>
                    </a>
				</div>
				<div class="box">
					<a href="/surprise2" class="image fit"><img src="http://img.youtube.com/vi/icDYqDa0Zao/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>SURPRISE!</strong></h2>
							<p> 카메라에 찍힌 믿을 수 없는</br> 괴생명체 </p>

                        </div>
                    </a>
				</div>
                <div class="box">
					<a href="/surprise3" class="image fit"><img src="http://img.youtube.com/vi/A2K8PEdb9SQ/0.jpg" alt="" />
                        <div class="inner">
                            <h2>TRY NOT TO</br><strong>SURPRISE!</strong></h2>
                            <p> 2017년 전세계 사람들의</br> 놀라운 영상 </p>

                        </div>
                    </a>
                </div>
                <div class="box">
					<a href="/surprise4" class="image fit"><img src="http://img.youtube.com/vi/EHnmTIFb2g0/0.jpg" alt="" />
                        <div class="inner">
							<h2>TRY NOT TO</br><strong>SURPRISE!</strong></h2>
                            <p> 인간의 믿을 수 없는 능력들 </p>
                        </div>
                    </a>
				</div>

			</div>

		</div>
	</div>


	<!-- Scripts -->
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/jquery.scrolly.min.js"></script>
	<script src="static/js/skel.min.js"></script>
	<script src="static/js/util.js"></script>
	<script src="static/js/main.js"></script>

</body>

</html>